<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>_TITLE_</title>
</head>
<body>
<div th:fragment="history-class">
    <div class="container">
        <div class="col-4">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{history}">_offline history_</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hist:${historyList}">
                    <td th:text="${hist.getSpecies()}">_species_</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>